$breakpoint: 769px;
@media (max-width: $breakpoint) {
	.menu-icon {
		display: block !important;
		width: 36px;
	}
	header {
		.button-container {
			display: none;
		}
		.navbar-collapse {
			top: 56px;
			height: 80vh;
			position: absolute;
			width: 100%;		
			padding: 25px 40px;
			background: linear-gradient(180deg, $dark-blue , transparent);
		}
		ul.navbar-nav {
			padding: 20px 25px;
			background: #fff;
			text-align: center;
			font-weight: 600;
			border-radius: 5px;
		}
		.nav-item::after {
			display: none;
		}
	}
	main {
		padding: 0 20px;
		.home {
			.background {
				.first {
					background-image: $first-m-background-src;
					width: $first-m-background-w;
					height: $first-m-background-h;
					right: $first-m-background-r;
					top: $first-m-background-t;
					background-repeat: no-repeat;
				}
				.second {
					position: initial;
					margin: auto;
					margin-top: -170px;
					width: 100%;
				}
			}

			.introduction {
				width: $m-p-width;
				padding: 0;
				padding-top: 0;
				text-align: center;
				h2 {
					font-size: 40px;
				}
			}
		}
		.why-choose-us {
			text-align: center;
			.s-head p {
				width: $m-p-width;
			}
		}
		.articles {
			.card {
				margin-top: 20px;
			}
		}
	}
	footer {
		text-align: center;
		.social-links {
			margin: 30px auto;
			width: fit-content;
		}
		.text-end {
			text-align: -webkit-center;
		}
	}
}
@media (min-width: $breakpoint) {
	main .home .background .second {
		width: 60%;
	}
}
